<header>
  <div class="app-controls">
    <a class="logo" [routerLink]="['/']">
      <app-logo></app-logo>
    </a>

    <mat-form-field class="lang-dropdown">
      <mat-select
        placeholder="{{ 'Choose language' | translate }}"
        [formControl]="langFormControl"
        (selectionChange)="changeLang($event.value)"
      >
        <mat-option value="en">
          <span translate>English</span>
        </mat-option>
        <mat-option value="ru">
          <span translate>Russian</span>
        </mat-option>
        <mat-option value="de">
          <span translate>German</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="user-controls">
    <ng-container *ngIf="user$ | async as user; else noUser">
      <span class="user-controls__info"
        >{{ user.name }} {{ user.surname }} {{ user.middleName }}.
        {{ "Cash" | translate }}: {{ user.cash | currency }}</span
      >
      <button mat-raised-button (click)="logout()">
        <span translate>Log out</span>
      </button>
    </ng-container>
    <ng-template #noUser>
      <button mat-raised-button (click)="login()">
        <span translate>Log In</span>
      </button>
      <button mat-raised-button (click)="register()">
        <span translate>Registration</span>
      </button>
    </ng-template>
  </div>
</header>
