<mat-card>
  <form autocomplete="off" [formGroup]="personForm" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="fullName" placeholder="{{ 'Full name' | translate }}" name="title">
      <mat-error *ngIf="personForm.controls['fullName'].hasError('required')">
        <span translate>Please enter a full name</span>
      </mat-error>
      <mat-error *ngIf="personForm.controls['fullName'].hasError('maxlength')">
        <span translate>Full name is too long</span>
      </mat-error>
    </mat-form-field>
    <app-person-cash-input
      formControlName="cash"
      [errorMatcher]="createCustomErrorStateMatcher('cash')"></app-person-cash-input>
    <ng-container *ngIf="isCreateMode">
      <input #imageInput hidden="true" type="file" (click)="$any($event).value = null" (change)="onFileChange($event)"
             accept="image/*"/>
      <button mat-flat-button color="primary" (click)="imageInput.click(); $event.preventDefault()">{{ fileName || 'Choose image' | translate }}</button>
    </ng-container>
    <img *ngIf="previewUrl" [src]="previewUrl || person.photoName">
    <mat-slide-toggle *ngIf="!isCreateMode" formControlName="status">Arrested</mat-slide-toggle>
    <div class="form-actions">
      <button type="submit" mat-raised-button [disabled]="personForm.invalid">
        <span translate>Save</span>
      </button>
      <button type="button" color="warn" mat-raised-button (click)="onCancel(); $event.preventDefault()">
        <span translate>Cancel</span>
      </button>
    </div>
  </form>
</mat-card>
