<mat-card>
  <form autocomplete="off" [formGroup]="personForm" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="fullName" placeholder="{{ 'Full name' | translate }}" name="title">
      <mat-error *ngIf="personForm.controls['fullName'].hasError('required')">
        <span translate>Please enter a course title</span>
      </mat-error>
      <mat-error *ngIf="personForm.controls['fullName'].hasError('maxlength')">
        <span translate>Course title is loo long</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="photoName" placeholder="{{ 'Photo name' | translate }}" name="photoName"></textarea>
      <mat-error *ngIf="personForm.controls['photoName'].hasError('required')">
        <span translate>Please enter a photo name</span>
      </mat-error>
      <mat-error *ngIf="personForm.controls['photoName'].hasError('maxlength')">
        <span translate>Photo name is loo long</span>
      </mat-error>
    </mat-form-field>
    <app-course-duration-input
      formControlName="cash"
      [errorMatcher]="createCustomErrorStateMatcher('cash')"></app-course-duration-input>
    <mat-slide-toggle formControlName="status">Is wanted</mat-slide-toggle>
    <div class="form-actions">
      <button type="submit" mat-raised-button [disabled]="personForm.invalid">
        <span translate>Save</span>
      </button>
      <button type="button" color="warn" mat-raised-button (click)="onCancel(); $event.preventDefault()">
        <span translate>Cancel</span>
      </button>
    </div>
  </form>
</mat-card>
