<mat-card class="course-item"
  [ngClass]="{ 'course-item--top-rated': person.status }">
  <section class="course-item__content">
    <header class="card-header">
      <h2 class="card-header__title">
        <span>{{person.fullName | uppercase}}</span>
        <mat-icon *ngIf="person.status">star_rate</mat-icon>
      </h2>
      <div class="card-header__info">
        <div class="card-header__info__duration">
          {{person.cash | currency}}
        </div>
      </div>
    </header>
    <main class="course-item__content__desctiption">
      {{person.photoName}}
    </main>
  </section>
  <aside class="course-item__actions">
    <button class="course-item__actions__edit" mat-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span translate>Edit</span>
    </button>
    <button class="course-item__actions__remove" mat-button color="warn" (click)="onRemove()">
      <mat-icon>remove</mat-icon>
      <span translate>Delete</span>
    </button>
  </aside>
</mat-card>
