<section class="people-toolbar">
  <div class="people-toolbar__search">
    <mat-form-field>
      <input matInput [formControl]="searchInput" name="searchCriteria" placeholder="{{ 'Search сourses' | translate }}">
    </mat-form-field>
  </div>

  <div class="people-toolbar__add-person">
    <button mat-raised-button routerLink="new">
      <mat-icon>add</mat-icon>
      <span translate>Add person</span>
    </button>
  </div>
</section>

<ng-container *ngIf="people$ | async as people; else noData">
  <section class="people-list" *ngIf="people.length; else noData">
    <app-people-item
      *ngFor="let person of people"
      [person]="person"
      (edit)="editPerson($event)"
      (remove)="removePerson($event)">
    </app-people-item>
  </section>
</ng-container>

<ng-template #noData>
  <div class="no-data" translate="No people"></div>
</ng-template>
